In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
train = pd.read_excel('sh2.xlsx')
train.head()

  first_name  last_name  gender  ...  property_valuation Rank     Value
0    Chickie    Brister    Male  ...                   6    1  1.718750
1      Morly     Genery    Male  ...                  11    1  1.718750
2    Ardelis  Forrester  Female  ...                   5    1  1.718750
3     Lucine      Stutt  Female  ...                   1    4  1.703125
4    Melinda     Hadlee  Female  ...                   9    4  1.703125

[5 rows x 18 columns]

In [4]:
train.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

In [ ]:
train['last_name']=train['last_name'].fillna(method='ffill')

In [ ]:
train['DOB']=train['DOB'].fillna(method='ffill')

In [7]:
train['job_title'].value_counts()

Associate Professor                     15
Software Consultant                     14
Environmental Tech                      14
Chief Design Engineer                   13
VP Sales                                12
Senior Sales Associate                  12
Assistant Manager                       12
Assistant Media Planner                 12
Cost Accountant                         12
VP Marketing                            11
Account Executive                       11
Social Worker                           11
Nurse Practicioner                      11
Junior Executive                        11
Environmental Specialist                11
Payment Adjustment Coordinator          11
VP Quality Control                      11
Dental Hygienist                        10
Chemical Engineer                       10
Business Systems Development Analyst    10
Librarian                               10
Product Engineer                        10
Structural Engineer                     10
Human Resources Manager                 10
Financial Analyst                       10
Recruiting Manager                       9
Structural Analysis Engineer             9
Nurse                                    9
General Manager                          9
Marketing Manager                        9
                                        ..
Web Developer II                         1
Web Developer I                          1
Developer III                            1
Accountant I                             1
Accounting Assistant III                 1
Budget/Accounting Analyst I              1
Administrative Assistant I               1
Human Resources Assistant III            1
Budget/Accounting Analyst II             1
Accounting Assistant II                  1
Computer Systems Analyst II              1
Software Test Engineer III               1
Web Developer IV                         1
Computer Systems Analyst III             1
Systems Administrator II                 1
Database Administrator I                 1
Systems Administrator III                1
Statistician IV                          1
Media Manager I                          1
Developer II                             1
Systems Administrator I                  1
Computer Systems Analyst IV              1
Staff Accountant III                     1
Safety Technician IV                     1
Accountant II                            1
Research Assistant I                     1
Safety Technician II                     1
Programmer IV                            1
Software Test Engineer II                1
Engineer II                              1
Name: job_title, Length: 184, dtype: int64

In [ ]:
train['job_title']=train['job_title'].fillna(method='bfill')

In [9]:
train['job_industry_category'].value_counts()

Financial Services    203
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     51
Entertainment          37
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64

In [ ]:
train['job_industry_category']=train['job_industry_category'].fillna(method='bfill')

In [11]:
train.head(1)

  first_name last_name gender  ...  property_valuation Rank    Value
0    Chickie   Brister   Male  ...                   6    1  1.71875

[1 rows x 18 columns]

In [16]:
submission = pd.DataFrame({
        "first_name": train["first_name"],
        "last_name": train["last_name"],
        "gender": train["gender"],
        "past_3_years_bike_related_purchases": train["past_3_years_bike_related_purchases"],
        "DOB": train["DOB"],
        "job_title": train["job_title"],
        "job_industry_category": train["job_industry_category"],
        "wealth_segment": train["wealth_segment"],
        "deceased_indicator": train["deceased_indicator"],
        "owns_car": train["owns_car"],
        "tenure": train["tenure"],
        "address": train["address"],
        "postcode": train["postcode"],
        "state": train["state"],
        "country": train["country"],
        "property_valuation": train["property_valuation"],
        "Rank": train["Rank"],
        "Value": train["Value"]
    })
submission.to_csv('./submission.csv', index=False)
print(submission.head(10))

  first_name  last_name  gender  ...  property_valuation Rank     Value
0    Chickie    Brister    Male  ...                   6    1  1.718750
1      Morly     Genery    Male  ...                  11    1  1.718750
2    Ardelis  Forrester  Female  ...                   5    1  1.718750
3     Lucine      Stutt  Female  ...                   1    4  1.703125
4    Melinda     Hadlee  Female  ...                   9    4  1.703125
5      Druci    Brandli  Female  ...                   7    6  1.671875
6   Rutledge      Hallt    Male  ...                   7    6  1.671875
7     Nancie       Vian  Female  ...                   5    8  1.656250
8       Duff  Karlowicz    Male  ...                  10    8  1.656250
9    Barthel     Docket    Male  ...                   5   10  1.640625

[10 rows x 18 columns]