In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
train = pd.read_excel('sh1.xlsx')
train.head()

   transaction_id  product_id  ...  standard_cost product_first_sold_date
0               1           2  ...          53.62                 41245.0
1               2           3  ...         388.92                 41701.0
2               3          37  ...         248.82                 36361.0
3               4          88  ...         381.10                 36145.0
4               5          78  ...         709.48                 42226.0

[5 rows x 13 columns]

In [20]:
train.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [6]:
train['online_order'].value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [ ]:
train['online_order']=train['online_order'].fillna(method='ffill')

In [8]:
train['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [ ]:
train['brand']=train['brand'].fillna(method='ffill')

In [10]:
train['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [ ]:
train['product_line']=train['product_line'].fillna(method='bfill')

In [12]:
train['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [ ]:
train['product_class']=train['product_class'].fillna(method='bfill')

In [14]:
train['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [ ]:
train['product_size']=train['product_size'].fillna(method='ffill')

In [16]:
train['standard_cost'].mean()

556.0469512209421

In [ ]:
train['standard_cost']=train['standard_cost'].fillna(train['standard_cost'].mean())

In [ ]:
train['product_first_sold_date']=train['product_first_sold_date'].fillna(train['product_first_sold_date'].mean())

In [19]:
submission = pd.DataFrame({
        "transaction_id": train["transaction_id"],
        "product_id": train["product_id"],
        "customer_id": train["customer_id"],
        "transaction_date": train["transaction_date"],
        "online_order": train["online_order"],
        "order_status": train["order_status"],
        "brand": train["brand"],
        "product_line": train["product_line"],
        "product_class": train["product_class"],
        "product_size": train["product_size"],
        "list_price": train["list_price"],
        "standard_cost": train["standard_cost"],
        "product_first_sold_date": train["product_first_sold_date"]
    })
submission.to_csv('./submission.csv', index=False)
print(submission.head(10))

   transaction_id  product_id  ...  standard_cost product_first_sold_date
0               1           2  ...          53.62                 41245.0
1               2           3  ...         388.92                 41701.0
2               3          37  ...         248.82                 36361.0
3               4          88  ...         381.10                 36145.0
4               5          78  ...         709.48                 42226.0
5               6          25  ...         829.65                 39031.0
6               7          22  ...          45.26                 34165.0
7               8          15  ...          13.44                 39915.0
8               9          67  ...         380.74                 33455.0
9              10          12  ...         161.60                 38216.0

[10 rows x 13 columns]